NODE_ENV=production
DB_USER=postgres
DB_PASSWORD=tu_pass_prod
DB_NAME=inventary
DB_HOST=172.31.33.21
# o IP privada RDS / 54.233.132.243 si es EC2 local
DB_PORT=5432
JWT_SECRET=prod_secret_fuerte
AWS_REGION=sa-east-1
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=caja-for-many-products-dennis
# En EC2: pm2 start server.js --update-env (usa 5432 con ssl)
