NODE_ENV=development
DB_USER=postgres
DB_PASSWORD=tu_pass
DB_NAME=inventary
DB_HOST=127.0.0.1
DB_PORT=5433
JWT_SECRET=dev_secret
AWS_REGION=sa-east-1
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=caja-for-many-products-dennis
# 1. Abre túnel SSM antes de npm run dev:
# aws ssm start-session --target "i-00022dbcb1ddd4206" --document-name AWS-StartPortForwardingSession --parameters '{"portNumber":["5432"],"localPortNumber":["5433"]}'
# 2. npm run dev (usa 127.0.0.1:5433 sin ssl)
