:root{
	--color-first: #09348C;
	--color-second: #082777;
	--color-third: #E7E7E7;
	--color-fourth: #484C4D;



	--dark-font: black;
	--ligth-font: #FFFFFF;
}

html {
	background: rgb(42,35,163);
background: linear-gradient(90deg, rgba(42,35,163,1) 0%, rgba(79,126,250,1) 67%, rgba(8,39,119,1) 100%);
  font-size: 82.5%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.boton-menu{
	display: none;
}

.boton-check{
	float: right;
	cursor: pointer;
	align-items: center;
    display: flex;
}
.boton-check p{
	font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    margin-right: 7px;
}
.boton-check .boton_open{
	height: 20px;
}
.boton-check .boton_close{
	display: none;
	width:  20px;
}
header{
  background: linear-gradient(90deg, rgba(42,35,163,1) 0%, rgba(79,126,250,1) 67%, rgba(8,39,119,1) 100%);
	height: 35px;
	padding: 5px 9px 0 6px;
    margin-bottom: 5px;
}

.caja-logo{
	display: flex;
    align-items: center;
}

.caja-logo a{
	text-decoration: none;
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.logito{
	height: 30px;
	margin: 0px 10px;
}
header ul{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.7rem 0 9rem 0;
    justify-content: space-evenly;
	position: fixed;
	width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, rgba(42,35,163,1) 0%, rgba(79,126,250,1) 67%, rgba(8,39,119,1) 100%);
    left: -100%;
    top: 38px;
	transition: .5s;
}
header ul li{
	list-style: none;
	font-size: 1.6rem;
}

header ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	
}
.pestaña a.active, .pestaña a:hover{
	background-color:brown;
	transition: .5s;
}

#boton-menu:checked ~ ul{
	left: 0;
}
#boton-menu:checked + label .boton_open{
	display: none;
}
#boton-menu:checked + label .boton_close{
	display: block;
}


.row{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 23px;
}

.row input{
    height: 16px;
    width: 75px;
}
p{
    color: var(--ligth-font) ;
}

.row_summary{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    margin-bottom: -26px;
}

.summary{
    background-color: rgb(35, 61, 9)    ;
    margin-bottom: 23px;
}
.summary2{
    margin-bottom: 23px;
    background-color: darkred;
}

.total_summary{
	display: flex;
	gap: 7px;
	justify-content: flex-end;
}

.subT{
	display: flex;
	justify-content: flex-end;
    gap: 11px;
	background-color: var(--dark-font);
}



#result{
	width: auto;
	
	
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
  }

table{

	min-width: 600px;
	
	background-color: var(--ligth-font);
   }


   
table, th, td{
	border: solid 1px black;
	border-collapse: collapse;
  }
  th, td{
	
	padding: 3px;
  }
  
  th:nth-child(1),
  td:nth-child(1) {
			  width: 45px;
		  }
  th:nth-child(2),
  td:nth-child(2) {
			  width: 65px;
		  }
  
  th:nth-child(3),
  td:nth-child(3) {
			  width: 65px;
		  }
  
  th:nth-child(4),
  td:nth-child(4) {
			  width: 65px;
		  }
  
  th:nth-child(5),
  td:nth-child(5) {
			  width: 70px;
		  }
  th:nth-child(6),
  td:nth-child(6) {
			  width: 100px;
		  }
  
		  #tableSales{
			min-width: 555px;
		  }
		  