<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>inventarioX</title>
  </head>
  <body>
    <header>
      <input type="checkbox" name="" id="boton-menu" class="boton-menu">
      <label for="boton-menu" class="boton-check">
        <p>menu</p>
        <img src="../icons/menu.png" alt="" class="boton_open">
        <img src="../icons/close.png" alt="" class="boton_close">
      </label>
      
      <div class="caja-logo">
        <img src="../icons/repartidor.png" alt="" class="logito">
        <a href="#" class="main_title">El Wayardo</a>
      </div>
      
      <ul class="caja_pestañas">
        <li class="pestaña"><a href="https://inventario.elwayardo.com">Registrar Venta</a></li>
        <li class="pestaña"><a href="https://inventario.elwayardo.com/nuevo_producto">Nuevo Producto</a></li>
        <li class="pestaña"><a href="https://inventario.elwayardo.com/ventas_por_fecha">Buscar Ventas</a></li>
        <li class="pestaña"><a href="https://inventario.elwayardo.com/actualizar_producto">Actualizar Producto</a></li>
        <li class="pestaña"><a href="https://inventario.elwayardo.com/gastos">Registrar Gasto</a></li>
        <li class="pestaña"><a href="https://inventario.elwayardo.com/summaries">Resumenes</a></li>
        

      </ul>
    </header>
    <h1 id="titulo">Ingreso de Mercaderia</h1>
    <input type="text" id="searchInput" placeholder="busca el item aquí" oninput="showSuggestions(this.value)" />
    <ul id="suggestionsList"></ul>

    <input type="text" id="searchSupplier" placeholder="busca el proveedor aquí" oninput="showSuggestionsSuppliers(this.value)" />
    <ul id="suggestionsSupplier"></ul>

    <form id="formulario" enctype="multipart/form-data">
      

      <h3 class="lines">Usuario:</h3>
      <select name="listaCategory" id="userSelect">
        
        <option value=1>Dennis</option>
        <option value=2>Luz</option>
        <option value=3>Miguel Angel</option>
        
        

        
      </select>

      
      
      <h3 class="lines">Cantidad:</h3>
      <input type="number" name="Cantidad" id="input1" class="inputSecond" />
      
      
       
      
      <h3 class="lines">Nombre del ingreso:</h3>
      <p id="name"></p>

      <h3 class="lines">Nombre del proveedor:</h3>
      <p id="supplier"></p>
      
      <h3 class="lines">Destino:</h3>
      <select name="listaCategory" id="pointB">
        <!-- <option disabled selected>Seleciona la categoria</option> -->
        <option value=1>B17</option>
        <option value=3>Qoripata</option>
        <option value=7>Tambobamba</option>
        <option value=4>Deposito</option>
        <option value=5>Los Nogales</option>
        <option value=6>Los Incas</option>

      </select>
      
      <button id="finalizar" class="botton_save">Guardar</button>
      
    </form>
    <section id="result">
      <table id="tableSales">
        <thead>
          <tr>
            <th>id</th>
            <th>Vendedor</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Product</th>    
            <th>P. Total</th>
            <th>P. Unitario</th>
            <th>Utilidad</th>
            <th>Hora</th>
            <th>Cliente</th>
            
          </tr>
        </thead>
        <tbody id="bodyTable">
          
        </tbody>
      </table>
    </section>
    
  
  
</div>

    

    <script src="/javaScript/entries.js"></script>
  </body>
</html>
