<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>inventarioX</title>
  </head>
  <body>
    <h1>Inventario de Maxi Cusco</h1>
    <input type="text" id="searchInput" oninput="showSuggestions(this.value)" />
    <ul id="suggestionsList"></ul>
    <h3>Sucursal</h3>
    <p>B17</p>

    <h3>Cantidad</h3>
    <p id="cant">2</p>

    <h3>Precio Unitario</h3>
    <p id="pu"></p>

    <h3>Total</h3>
    <p id="pt">70</p>

    <h3>Utilidad</h3>
    <p id="utilidad"></p>
    <h3>Articulo</h3><p id="name"></p>
    <h3>Costo</h3><p id="costo"></p>
    <h3>Stock</h3><p id="stock"></p>
    <h3>Ingreso</h3><p id="creacion"></p>
    
    <script src="/javaScript/home.js"></script>
  </body>
</html>
