<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resumen.css" />
    <title>Resumen</title>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="boton-menu" class="boton-menu">
        <label for="boton-menu" class="boton-check">
          <p>menu</p>
          <img src="../icons/menu.png" alt="" class="boton_open">
          <img src="../icons/close.png" alt="" class="boton_close">
        </label>
        
        <div class="caja-logo">
          <img src="../icons/repartidor.png" alt="" class="logito">
          <a href="#" class="main_title">El Wayardo</a>
        </div>
        
        <ul class="caja_pestañas">
          <li class="pestaña"><a href="https://inventario.elwayardo.com">Registrar Venta</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/nuevo_producto">Nuevo Producto</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/ventas_por_fecha">Buscar Ventas</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/actualizar_producto">Actualizar Producto</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/gastos">Registrar Gasto</a></li>
  
        </ul>
      </header>

      <input type="month" name="inputMonth" id="inputMonth">
      <button id="getSales">Buscar</button>
      <div class="summary" id="summary"></div>
      <div class="row">
        <p>Alquiler B17</p>
        <input type="number" name="" id="alquilerB17" oninput="sumInputs()">
      </div>
      <div class="row">
        <p>Alquiler Qoripata</p>
        <input type="number" name="" id="alquilerQori" oninput="sumInputs()">
      </div>
        <div class="row">
          <p>Alquiler Deposito</p>
          <input type="number" name="" id="alquilerDep" oninput="sumInputs()">
        </div>
        
       <div class="subT">
        <p id="subTotal"></p>
       </div>
      
        <div class="summary2" id="summary2"></div>
        <div class="row">
          <p>Sueldo Dennis</p>
          <input type="number" name="" id="salaryDennis" oninput="sumInputs2()">
        </div>
        <div class="row">
          <p>Bono Dennis</p>
          <input type="number" name="" id="bonusDennis" oninput="sumInputs2()">
        </div>
          <div class="row">
            <p>Sueldo Luz</p>
            <input type="number" name="" id="salaryLuz" oninput="sumInputs2()">
          </div>
          <div class="subT">
            <p id="total"></p>
           </div>
        
  
      
    <script src="/javaScript/resumen.js"></script>
</body>
</html>