<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" />

    <title>Document</title>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="boton-menu" class="boton-menu">
        <label for="boton-menu" class="boton-check">
          <p>menu</p>
          <img src="../icons/menu.png" alt="" class="boton_open">
          <img src="../icons/close.png" alt="" class="boton_close">
        </label>
        
        <div class="caja-logo">
          <img src="../icons/repartidor.png" alt="" class="logito">
          <a href="#" class="main_title">El Wayardo</a>
        </div>
        
        <ul class="caja_pestañas">
          <li class="pestaña"><a href="https://inventario.elwayardo.com">Registrar Venta</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/nuevo_producto">Nuevo Producto</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/ventas_por_fecha">Buscar Ventas</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/actualizar_producto">Actualizar Producto</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/gastos">Registrar Gasto</a></li>
  
        </ul>
      </header>
    <h3 >Buscar ventas por fecha</h3>
    <input type="date" name="date" id="dateSales">
    <button id="getSales">Buscar</button>
    <h3 id="titleText"></h3>
    <div class="header_chard">
      <p>Cant</p>
      <p>Articulo</p>
      <p>Precio Total</p>
      <p>Ganancia</p>
    </div>
    <div class="ultimed_sales" id="ultimed_sales"> </div>
    <div id="sums">
      <h3 id="sumTotal"></h3>
      <h3 id="sumRevenue"></h3>
    </div>
    

    <script src="/javaScript/salesByDate.js"></script>
</body>
</html>