<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <input type="checkbox" name="" id="boton-menu" class="boton-menu">
        <label for="boton-menu" class="boton-check">
          <p>menu</p>
          <img src="../icons/menu.png" alt="" class="boton_open">
          <img src="../icons/close.png" alt="" class="boton_close">
        </label>
        
        <div class="caja-logo">
          <img src="../icons/repartidor.png" alt="" class="logito">
          <a href="#" class="main_title">El Wayardo</a>
        </div>
        
        <ul class="caja_pestañas">
          <li class="pestaña"><a href="https://inventario.elwayardo.com">Registrar Venta</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/nuevo_producto">Nuevo Producto</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/ventas_por_fecha">Buscar Ventas</a></li>
          <li class="pestaña"><a href="https://inventario.elwayardo.com/actualizar_producto">Actualizar Producto</a></li>
          
  
        </ul>
      </header>
    <h1 id="titulo">Actualizar Producto</h1>
    <input type="text" id="searchInput" placeholder="busca el item aquí" oninput="showSuggestions(this.value)" />
    <ul id="suggestionsList"></ul>

    <form id="formulario" enctype="multipart/form-data">
      <h3 class="lines">Cod:</h3>
      <p id="codigo">-----</p>
      <h3 class="lines">Nombre:</h3>
      <input type="text" name="name" id="inputName" class="inputSecond" />
      <h3 class="lines">Cost:</h3>
      <input type="text" name="cost" id="inputCost" class="inputSecond" />
      <h3 class="lines">Creado:</h3>
      <p id="creacion">-----</p>
      <h3 class="lines">Proveedor:</h3>
      <p id="supplier">-----</p>
       <h3 class="lines">Precio Sugerido:</h3>
      <input type="number" name="firstPrice" id="inputfirstPrice" class="inputSecond" />
      <h3 class="lines">Precio Más Bajo:</h3>
      <input type="number" name="lowestPrice" id="inputlowestPrice" class="inputSecond" />
      
   
      <button id="finalizar" class="botton_save">Guardar</button>
      
    </form>
   
    <h3 class="ultimed_sales_title">Ultimas ventas</h3>
<div class="ultimed_sales" id="ultimed_sales">
  
</div>

    <script src="/javaScript/updateProduct.js"></script>
</body>
</html>